// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Template from https://blog.appacademy.io/tutorial-an-app-academy-alum-on-action-cable-and-react/
* {
  margin: 2px;
  padding: 5px;
}
li {
  list-style: decimal;
}
.chatroom-container {
  display: flex;
  flex-direction: column;
  //align-items: center;
}
.message-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 600px;
  width: 550px;
  margin-left: -15px;
  
  // border: solid gray 1px;
}
.message-list ul, ol{
  list-style-type: none;
}

.message-list li div{
  padding-top: 2px;
}

.message-username{
  font-weight: 500;
}

.message-input{
  height: 10%;
  width: 80%;
}

.message-list li{
  // border-top: solid rgba(139, 136, 129, 0.63) 1px;
  border-bottom: solid rgba(139, 136, 129, 0.63) 1px;
}

.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}