@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

$lax-blue: rgb(0, 87, 138);
$text-color: gray;
$background-color: rgba(139, 154, 160, 0.753);
.log-sign{
    margin-left: -1%;
    font-size: 13pt;
}

.log-sign a:hover{
    cursor: pointer;
}

.greeting .header{
    background-color: darken($lax-blue, 4);
    margin: 0px;
    padding: 10px;
}

#s-bar{
    background-color: $lax-blue;
    width: 20%;
    height: 675px;
    padding-left: 20px;
}

#s-bar h3{
    font-size: 12pt;
}

#s-bar h2{
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: solid $background-color 1px;
    border-bottom: solid $background-color 1px;
}

#s-bar h4{
    padding-top: 4px;
    padding-bottom: 4px;
}

.c-list{
    list-style-type: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(240, 238, 230);
    color: black;
    text-decoration: none;
    font-size: 12pt;
}

a{
    text-decoration: none;
    color: black;
}

// Currently for Username
h2{
    font-size: 14pt;
    margin: 5px;
    margin-left: 0px;
}

h3{
    font-size: 16pt;
}

.title{
    //background-color: darken($lax-blue, 1);
    margin-left: -1%;
    font-size: 20pt;
    text-decoration: none;
}

.s-form{
    position: absolute;
    top: 20px;
    left: 25%;
    background-color: $background-color;
    z-index: 5;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

#h-button{
    font-size: 11pt;
    padding-left: 5px;
    padding-right: 5px;
    width: 60%;
}

.h-buttons{
    display: flex;
}

.s-button{
    color: white;
    background-color: $lax-blue;
    width: 120%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    border-color: $lax-blue;
    border: none;
}

.s-head{
   font-weight: 1000;
   font-size: 26pt; 
}

.s-input{
    width: 110%;
    position: relative;
    right: 10%;
}

.s-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.c-list{
    list-style-type: square;
    padding-left: 5px;
}

h4{
    font-size: 11pt;
    padding-left: 5px;
}

.greeting{
    display: flex;
    flex-direction: column;
}

.sidebar{
    display: flex;
}

.chat{
    margin-left: 25px;
}

.bold{
    font-weight: 500;
}

.s-message{
    color: rgb(80, 80, 80);
}

.header h1{
    font-weight: 600;
    font-size: 18pt;
}

.header{
    //background-color: darken($lax-blue, 1);
    display: flex;
    justify-content: space-between;
    padding: 3px;
    padding-left: 1px;
    //margin-left: -1%;
}


//SPLASH PAGE STYLING
.splash-info{
    display: flex;
    flex-direction: column;
    // width: 40%
}


#splash-1{
    display: flex;
    justify-content: space-around;
}

#splash-1 img{
    width: 85%;
    height: 90%;
}

#splash-1a{
    font-size: 30pt;
    font-weight: 600;
}

#splash-1b{
    font-size: 11pt;
    font-weight: 400;
}

#s-img-div{
    margin-left: 10%;
}

#splash-2{
    display: flex;
    justify-content: space-around;
}

#splash-2 img{
    width: 85%;
    height: 90%;
    border-radius: 6px;
}

#splash-2 h3{
    font-weight: 500;
}

#splash-2 p{
    font-size: 11pt;
}

#splash-1:first-child h2,p{
    width: 110%
}

#splash-3 h3{
    font-weight: 500;
    padding-bottom: 1%;
}

#splash-3 p{
    font-size: 11pt;
}

#splash-4{
    display: flex;
}

#splash-4 img{
    width: 80%;
    height: 90%;
    margin-left: 15%;
    border-radius: 6px;
}

#splash-4 h3{
    font-weight: 500;
}

#splash-4 p{
    font-size: 11pt;
}
